.optionSongSvg {
  width: 24px;
  height: auto;
  margin: 1px 0 0 1px;
  transition: 0.5s ease;
}

.displayOption {
  background-color: inherit !important;
  /* position: relative; */
  /* z-index: 10; */
}

.linkOptionDiv {
  display: flex;
  margin: 5px;
  padding: 1px 10px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  border-radius: 5px;
  margin: 0px 2px;
}
.btn-secondary {
  --bs-btn-border-color: inherit !important;
  --bs-btn-hover-border-color: inherit !important;
}
