.pagination-modal {
  background-color: #65896c;
  border-radius: 20px;
}
.pagination {
  /* padding-left: 250px !important; */
  /* margin: auto !important; */
  text-align: center !important;
  --bs-pagination-bg: #6dba7e !important;
  --bs-pagination-color: #161616 !important;
  --bs-pagination-border-color: #28b140 !important;
  --bs-pagination-border-radius: 10px !important;
  --bs-pagination-hover-color: white !important;
  --bs-pagination-hover-bg: #93b598 !important;
  --bs-pagination-hover-border-color: #28b140 !important;
  --bs-pagination-focus-color: white !important;
  --bs-pagination-focus-bg: #93b598 !important;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #93b598 !important;
  --bs-pagination-active-border-color: #28b140 !important;
}
