.modal-header {
  height: 40px;
  background-color: #e0e0ec;
}
.modal-body {
  background-color: rgb(33, 32, 30);
}
.modalContent-body {
  width: 300px;
  margin: auto;
}

.modalSong-Image {
  width: 100px;
  margin: auto;
}
.modalSong-Image img {
  border-radius: 10px;
}
.modalSong-info {
  text-align: center;
  padding-top: 5px;
}
.modalSong-title {
  color: #e0e0ec;
  font-size: 15px;
}
.modalSong-artistName {
  color: #e0e0ec;
  font-size: 10px;
}
.modualSong-audio {
  height: 30px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #5c848e;
  color: #000000;
}

.textContent {
  color: #e0e0ec;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
.text {
  /* background-color: #6f6f76; */
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 5px 3px 5px rgb(0 0 0 / 28%);
  padding: 5px;
  margin: 5px;
}
.englishFont {
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  color: #e0e0ec;
}
.persionFont {
  font-style: italic;
  color: #6f6f76;
  font-size: 15px;
  text-shadow: none;
}
.modal-footer {
  height: 40px;
  background-color: #e0e0ec !important;
  padding: 0px 20px !important;
}
.btnClose {
  width: 50px;
  height: 20px;
  font-size: 15px;
}
.singleSong {
  --bs-btn-padding-x: 0 !important;
  --bs-btn-padding-y: 0 !important;
  color: #000000 !important ;
  background-color: #6f6f76 !important;
  --bs-btn-border-width: 0px !important;
  --bs-btn-font-size: 10px !important;
}
