/* Common Variables */
:root {
  --main-color: #1f2128;
  --font-color: #fff;
  --secondary-font-color: #59657c;
  --purple: #6343e4;
  --player-color: #323542;
}

* {
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #545151 !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
}
.music-app {
  position: relative;
  background-color: var(--main-color);
  max-width: 100%;
  /* width: 500px; */
  /* height: 620px; */
  border-radius: 30px;
  box-shadow: 0px 0px 2px 0px rgba(40, 42, 53, 0.28);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;

  @media screen and (max-width: 420px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
/* .cover {
  position: relative;
  width: 100%;
  height: 160px;
  background-image: url("../image/cover.jpeg");
  background-size: cover;
  background-position: center -40px;
  padding-top: 250px;
  background-repeat: no-repeat;
}
.cover-title {
  color: var(--font-color);
  text-align: center;
  box-shadow: 3px 5px 3px 5px rgb(0 0 0 / 28%);
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  top: 130px;
  left: 190px;
  border-radius: 15px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}
.cover-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-image: url("../image/artist.jpeg");
  background-size: cover;
  border: 10px solid var(--main-color);
} */
.btn-all {
  color: var(--purple);
  margin-left: auto;
  font-size: 12px;
  font-weight: 500;
  transition: color 0.2s ease-in;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-all:hover {
  color: rgb(193, 186, 221);
}
.content-header {
  /* flex: 1; */
  padding: 0px 20px 6px 20px;
  display: flex;
}
.playList {
  padding: 0;
  list-style-type: none;
}
/* .playList-item-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 20px;
  border-bottom: 1px solid rgba(198, 178, 250, 0.1);
  cursor: pointer;
  background-color: var(--main-color);
  transition: all 0.2s ease-in;
  overflow: auto;
  text-decoration: none;
} */
.playList-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(198, 178, 250, 0.1);
  cursor: pointer;
  background-color: var(--main-color);
  transition: all 0.2s ease-in;
  overflow: auto;
}
.playList-item-link {
  text-decoration: none;
}
.playList-item-image {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid rgba(198, 178, 250, 0.1);
  cursor: pointer;
  background-color: var(--main-color);
  transition: all 0.2s ease-in;
  overflow: auto;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 16px;
}
.info-title,
.info-subtitle {
  color: var(--font-color);
}

.info-title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.info-subtitle {
  font-size: 10px;
  color: var(--secondary-font-color);
  margin-bottom: 5px;
}

.btn-add {
  color: var(--font-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto !important;
}
.playList-item-div-image {
  position: relative;
}
.playList-item-div-image svg {
  position: absolute;
  opacity: 0;
  fill: #fff;
  width: 24px;
  height: auto;
  margin: 1px 0 0 1px;
  transition: 0.5s ease;
  left: 10px;
  top: 10px;
}
.playList-item-div-image.active svg {
  fill: var(--theme-color, #28b140);
}
.playList-item-div-image:hover svg {
  opacity: 1;
}

.playList-item-div-image.play svg:last-child {
  opacity: 1;
}
.playList-item-div-image.play svg {
  opacity: 0;
}
.playList-item-div-image.pause svg:last-child {
  opacity: 0;
}
.playList-item-div-image.pause svg {
  opacity: 1;
}
